@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Play:wght@400;700&display=swap');

body {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    font-family: 'Play', 'Noto Sans KR', sans-serif;
    /* 가로스크롤방지 */
    overflow-x: hidden;
}
.play-regular {
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.play-bold {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* 전체 스타일 통합 */

#wrap {
    min-width: 1600px;
}
#main,
.inner {
    width: 1700px;
    margin: auto;
}
h2,
h3,
h4,
p,
strong,
em {
    letter-spacing: -1px;
    font-family: 'Noto Sans Kr';
}

/* 전체 */
#subVisual {
    margin: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
#subVisual .subBanner {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../images/Background.png);
    background-position: 0 0;
    background-size: cover;
    position: relative;
}
/* 비쥬얼 > 이미지 */

.subBanner .container {
    position: absolute;
    /* top: 0; */
    bottom: 240px;
    width: 100%;
    z-index: 2;
}
.subBanner .container::after {
    content: '';
    width: 50px;
    height: 1px;
    background: white;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
}

.subBanner h2,
.subBanner p {
    text-align: center;
    color: white;
}

.subBanner h2 {
    font-size: 50px;
    font-weight: bold;
}

.subBanner p {
    padding-top: 50px;
    font-size: 17px;
}
/* 비쥬얼배너 > 컨테이너 */
/* 전체 적용 */
#header {
    /* margin: auto; */
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

#header .colorBox {
    height: 20px;
    width: 100%;
    background: #01499b;
}
#header .colorBox::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #dedede;
    display: block;

    position: absolute;
    top: 120px;
}

#header .top-menu {
    /* border-bottom: 1px solid #dedede; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
#header .top-menu .header-search-wrap {
    position: relative;
}
#header .top-menu .header-search-wrap #header-search {
    outline: none;
    border: none;
    width: 240px;
    height: 40px;

    border: 1px solid #cccccc;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;
}
#header .top-menu .header-search-wrap #header-search::placeholder {
    font-family: 'Noto Sans KR';
    font-size: 16px;
    color: #181818;
}
#header .top-menu .header-search-wrap img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#header .top-menu h1 {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
}
#header .top-menu h1 img {
    width: 268px;
}
#header .top-menu .menu-wrap {
    display: flex;
}
#header .top-menu .menu-wrap li {
    margin-right: 30px;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 16px;
}
#header .top-menu .menu-wrap li:last-child {
    margin-right: 0;
}
#header .top-menu .menu-wrap li img {
    margin-left: 8px;

    transform: translateY(20%);
}
#header .nav {
    height: 95px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
#header .nav .gnb {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    width: 1100px;
}
#header .nav .gnb li {
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

#header .nav .gnb li::after {
    content: '';
    width: 0px;
    height: 6px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #01499b;
    transition: 0.5s ease;
}
#header .nav .gnb li:hover::after {
    width: 125px;
}

#header .nav .ham {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

/* ////header */
#header #subNav,
#subHeader #subNav {
    border-top: 1px solid #dcdcdc;
    width: 100%;
    user-select: none;
}

#header #subNav .subGnbWrap,
#subHeader #subNav .subGnbWrap {
    min-height: 400px;
    max-height: 600px;
    display: flex;
    /* overflow: hidden; */
}

#subNav .inner {
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* 화면비율 */
}

#subNav .subGnbWrap .subGnbTitle {
    width: 465px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 110px;
    background: #0a4a9b;
    position: relative;
    overflow: hidden;
}

#subNav .subGnbTitle h3 a {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 250px;
    padding-bottom: 15px;
}

#subNav .subGnbTitle p {
    font-weight: 500;
    color: #81a4cc;
}
#subNav .subGnbTitle img {
    position: absolute;
    left: 130px;
    bottom: 30px;
}
#subNav .subGnbList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    width: 80%;
    padding-bottom: 20px;
}
#subNav .subGnb {
    box-sizing: border-box;
    padding: 20px 40px 0px 30px;
    position: relative;
}
#subNav .subGnbWrap01 .subGnb {
    padding: 20px 80px 20px 30px;
}

#subNav .subGnbWrap01 .subGnb2::after,
#subNav .subGnbWrap04 .subGnb2::after {
    content: '';
    height: 220px;
    width: 1px;
    display: block;
    background: #b7b7b7;
    position: absolute;
    left: -25%;
    top: 48%;
    transform: translateY(-50%);
}
#subNav .subGnbWrap04 .subGnb2::after {
    left: -10%;
}
#subNav .subGnbWrap04 .subGnb4::after {
    left: -125%;
}

#subNav .subGnb h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 200px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
#subNav .subGnb h4:hover {
    color: #01499b;
}
#subNav .subGnb h4::before,
#subNav .subGnb h4::after {
    content: '';
    background: #7f7f7f;
    width: 250px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -10px;
}
#subNav .subGnb h4::after {
    width: 0px;
    transition: 0.8s;
}

#subNav .subGnb h4:hover::after {
    width: 250px;
    background: #01499b;
}
#subNav .subGnb ul {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 20px;
}
#subNav .subGnb ul li {
}

#subNav .subGnb div {
    display: flex;
}
#subNav .subGnb div > ul {
    margin-right: 20px;
    min-width: 250px;
}
#subNav .subGnb div > ul:last-child {
    margin-right: -20px;
    min-width: 200px;
}

#subNav .subGnb ul:last-child {
}
#subNav .subGnb ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #7f7f7f;
    /* margin-bottom: 10px; */
    cursor: pointer;
}

#subNav .subGnb ul li:hover a {
    color: #000;
}
#subNav .subGnb ul li:last-child {
}

/* /// 헤더 서브텝*/

#subHeader {
    /* margin: auto; */
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

#subHeader .colorBox {
    height: 20px;
    width: 100%;
    background: #01499b;
}

#subHeader .nav {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subHeader .nav h1 img {
    width: 230px;
}

#subHeader .nav .gnb {
    width: 1035px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subHeader .nav .gnb li {
    font-size: 22px;
    font-weight: 600;
    position: relative;
}
#subHeader .nav .gnb li::after {
    content: '';
    width: 125px;
    height: 6px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #01499b;
    display: none;
}
#subHeader .nav .gnb li:hover::after {
    display: block;
}

#subHeader .nav .menu-wrap {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: 600;

    display: flex;
}

#subHeader .nav .menu-wrap li {
    margin-left: 30px;
    align-items: center;
    display: flex;
}
#subHeader .nav .menu-wrap li:first-of-type {
    margin-left: 0;
}

#subHeader .nav .menu-wrap li a {
    display: flex;
    align-items: center;
}
#subHeader .nav .menu-wrap li a img {
    margin-left: 8px;
}
#subHeader .nav .menu-wrap li .header-search {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
}

/* /// 헤더 */

#subHeader {
    /* margin: auto; */
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

#subHeader .colorBox {
    height: 20px;
    width: 100%;
    background: #01499b;
}

#subHeader .nav {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subHeader .nav h1 img {
    width: 230px;
}

#subHeader .nav .gnb {
    width: 1035px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subHeader .nav .gnb li {
    font-size: 22px;
    font-weight: 600;
    position: relative;
}
#subHeader .nav .gnb li::after {
    content: '';
    width: 125px;
    height: 6px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #01499b;
    display: none;
}
#subHeader .nav .gnb li:hover::after {
    display: block;
}

#subHeader .nav .menu-wrap {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: 600;

    display: flex;
}

#subHeader .nav .menu-wrap li {
    margin-left: 30px;
    align-items: center;
    display: flex;
}
#subHeader .nav .menu-wrap li:first-of-type {
    margin-left: 0;
}

#subHeader .nav .menu-wrap li a {
    display: flex;
    align-items: center;
}
#subHeader .nav .menu-wrap li a img {
    margin-left: 8px;
}
#subHeader .nav .menu-wrap li .header-search {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
}
/* //// 서브페이지 헤더 */

#footer {
    margin: auto;
    width: 100%;
    z-index: 1000;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
#footer .colorBox {
    height: 65px;
    width: 100%;
    background: #01499b;
}
#footer .link {
    width: 1700px;
    margin: auto;
}
#footer .link .linkBox {
    width: 1500px;
    height: 65px;
    display: flex;
    justify-content: center;
    margin: auto;
}
#footer .link .linkBox li {
    width: 315px;
    border-right: 1px solid #fff;
    background-image: url(../images/icon/up.png);
    background-repeat: no-repeat;
    background-position: 218px 50%;
}

#footer .link .linkBox li a {
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
}
#footer .inner {
    display: flex;
    /* margin-top: 35px;
    margin-bottom: 35px; */
    max-width: 1500px;
    box-sizing: border-box;
    height: 160px;
    align-items: center;
}
#footer .inner h1 {
    margin-right: 76px;
}
#footer .inner .info {
}
#footer .inner .info p {
}
#footer .inner .info p a {
    position: relative;
    margin-right: 20px;
}
#footer .inner .info p a:first-child {
    color: #01499b;
    font-weight: 600;
}
#footer .inner .info p a::after {
    content: '';
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 11px;
    background: #81a4cc;
}
#footer .inner .info p a:last-child::after {
    background: none;
}
#footer .inner .info .address {
    margin-top: 20px;
}
#footer .inner .info .copyright {
}
#footer .inner .info .copyright span {
    font-family: play;
}
#footer .inner .sns {
    width: 244px;
    height: 160px;
    position: relative;
    display: flex;
    justify-content: right;
}
#footer .inner .sns ul {
    display: flex;
    position: absolute;
    top: 80px;
    /* bottom: 35px; */
    /* bottom: 0px; */
}
#footer .inner .sns ul li {
    display: flex;
    align-items: center;
    margin-right: 22px;
}
#footer .inner .sns ul li:nth-child(4) {
    margin-right: 0;
}
#footer .inner .sns ul li img {
    width: 32px;
    height: 32px;
}
/* 푸터 */
