/* 백그라운드 있었던 자리 */

#main .info {
    width: 1500px;
    height: fit-content;
    box-sizing: border-box;
    margin: auto;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
}
/* 섹션 전체 움직이기 */

#main .info .nav .list {
    margin: auto;
    width: 110%;
    display: flex;

    flex-wrap: wrap;
}
#main .info .nav .list li {
    /* display: block; */
    width: 300px;
    font-size: 15px;
    line-height: 48px;
    border: 1px solid #d9d9d9;
    text-align: center;
}
#main .info .nav .list li:nth-child(1) {
    background: #01499b;
    border: 1px solid #01499b;
}
#main .info .nav .list li:nth-child(1) a {
    color: white;
}
#main .info .nav .list li:hover {
    background: #01499b;
    border: 1px solid #01499b;
}
#main .info .nav .list li:hover a {
    color: white;
}
/* 컨테이너 > 네비게이션 */

.article {
    margin: 60px auto;
}
.article .box {
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.article .box h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
/* article 전체 */
.article .box1 {
    width: 1500px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.article .box1 .left {
    width: 660px;
}
.article .box1 .left .imgBox {
    height: 910px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article .box1 .left .imgBox img {
    width: 650px;
}

.article .box1 .right {
    right: 0;
    width: 870px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.article .box1 .right .text {
    padding: 40px 40px;
    /* display: block; */
    display: flex;
    /* justify-content: flex-start; */

    /* height: 150px; */
}
.article .box1 .right .text .li_title {
    width: fit-content;
    display: flex;
}
.article .box1 .right .text .li_title h3 {
    font-weight: bold;
    font-size: 60px;
    color: #01499b;
    font-family: 'play';
    width: 180px;
}
.article .box1 .right .text .li_title h3 span {
    /* margin-left: 2px; */
    font-size: 40px;
}
.article .box1 .right .text .li_con {
    /* text-align: left; */
    /* display: flex; */
    /*  */
    /* padding: 10px 0px; */
    margin: 40px 0 0 40px;
}
.article .box1 .right .text .li_con strong {
    font-size: 24px;
    color: #fdaf17;
    font-weight: bold;
    font-family: 'play';
}
.article .box1 .right .text .li_con p {
    padding-left: 15px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
}
.article .box1 .right .text .li_con em {
    font-size: 16px;
    padding-left: 30px;
    position: relative;
}

.article .box1 .li_con em::after {
    content: '';
    background: #000;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 10px;
    left: 20px;
    top: 50%;
}

/* article > .box1*/

/* article > .box4 */

#main .innerInfo {
    width: 1500px;
    height: 140px;
    background: #f5f5f5;
    color: #555;
    display: flex;
    box-sizing: border-box;
    margin: 100px auto;
    align-items: center;
    padding: 50px;
    /* display: none; */
}
#main .innerInfo h5 {
    margin-right: 80px;
    position: relative;
}
#main .innerInfo h5::after {
    content: '';
    display: block;
    width: 1px;
    height: 18px;
    background: #888;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}
#main .innerInfo p {
    margin-right: 20px;
}
#main .innerInfo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* 제일하단 */
